html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desatured-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: var(--Light-Grayish-Blue);
  min-height: 100vh;
  line-height: 1.5;
  color: var(--Very-Dark-Grayish-Blue);
}

p {
  margin: 0;
}

main {
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.article-wrapper {
  background-color: #fff;
  display: grid;
  grid-template-columns: 250px 1fr;
  max-width: 800px;
  width: 700px;
  height: 260px;
  margin: 0 auto;
  border-radius: 10px;
}

.layout-left {
  height: auto;
  width: auto;
  background: var(--Light-Grayish-Blue) url(./images/drawers.jpg) no-repeat;
  background-size: cover;
}

.layout-right {
  height: auto;
  width: auto;
  padding: 1.5rem 2rem 0rem 2rem;
  margin: 0 auto;
}

.layout-right h2 {
  margin-bottom: 10px;
}

.layout-right p {
  padding-right: 10px;
  color: var(--Desatured-Dark-Blue);
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
}

.user-info img {
  max-width: 50px;
  width: 15%;
  border-radius: 25px;
}

.user-info p {
  margin-left: -7rem;
}

.user-info div p:first-child {
  font-weight: 700;
}

.user-info div p:first-child + p {
  color: var(--Desatured-Dark-Blue);
}

.share-button {
  position: normal;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--Light-Grayish-Blue);
}

.share-button-pushed {
  position: normal;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--Desatured-Dark-Blue);
  color: #fff;
}

.share-social {
  position: relative;
  bottom: 100px;
  left: 230px;
  padding: 10px;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-around;
  background-color: var(--Very-Dark-Grayish-Blue);
  border-radius: 10px;
}

.share-social p {
  margin-right: 1rem;
}

.social-icons {
  display: flex;
  align-items: center;
}

.toggle {
  position: absolute;
}

.disp-none {
  display: none;
}

.share {
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  letter-spacing: 3px;
}

.social-icons a {
  margin-left: 0.5rem;
}
